<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="mt-5 p-2 border shadow-lg bg-white rounded">
      <h4 class="text-center"><%= @inventory.name %></h4>
      <% unless @foods.empty? %>
        <%= render 'new' %>
      <% else %>
        <p class="text-center mt-4">
          No foods available. Please add a food first. <br>
          <%= link_to 'Add a Food', new_food_path, data: { turbo_frame: "remote_modal" } %>
        </p>
        <div class="actions text-end mt-4">
          <%= link_to 'Cancel', inventory_path(@inventory), class: "btn btn-dark btn-sm px-3" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
