<h1 class="recipe-page-title">My Recipes</h1>
<div class="wrapper">
  <% @recipes.each do |recipe| %>
  <div class="title-actions">
    <h2><%= recipe.name %> </h2>
  </div>
  <div class="description">
    <p> <%= recipe.description %>
  </div>
  <% end %>

</div>
