.wrapper {
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  border: 1px solid black;
  padding: 0 2rem;
  gap: 0.5rem;
}

.recipe-page-title {
  text-align: center;
}

.title-actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 0.5rem;
}

.recipe-name-link {
  font-size: 1.2rem;
}
